BOT_TOKEN=isi_token_bot_telegram_anda
ADMIN_IDS=123456789,987654321
ADMIN_CONTACT=@username_anda
GROUP_LINK=https://t.me/link_grup_anda
HARGA_MEMBER=Rp 50.000 / bulan
TUTORIAL_LINK=https://t.me/link_tutorial_anda
